[2014-09-23 14:11] vlucas opened #1 "Give Jeremy a High-Five"
I really have to give @jagthedrummer a high-five for how awesome he is for doing this for the community. Seriously.

[2014-09-23 21:01] jagthedrummer opened #2 "Request for comments"
Hey everybody, I have the donations page pretty close to being a fully functional v0.0.1 so I want to get some feedback on it.  So far I've mainly focused on functionality and have done very minimal styling.  Having somebody take a look at it that knows their way around a color palate would be great.

You can find the current test app here : http://techlahoma-donations.herokuapp.com/

So far I'm o

[2014-09-23 22:56] jagthedrummer opened #3 "Deployment"
Just wanted to start a discussion about how we'll deploy this.

Right now I have the app on Heroku hooked up with Stripe credentials to the test env of an account I created specifically for testing this.  Obviously we'll want to hook up the production stack with the live Stripe creds of the real Techlahoma account before launching. I figure that we'll want to also have a staging env of this page,

[2014-10-02 18:49] datachomp opened #4 "Get the site SSL'ed and under the th.org account on heroku"

[2014-12-03 17:06] #4 closed, assigned to datachomp

[2014-12-03 17:07] #1 closed, assigned to nobody

[2015-08-14 15:19] amandaharlin opened #7 "Receipt Rewrite"
After talking to Rob today we thought about rewritting the techlahoma donation email receipt to include more info. This would involve modifying the existing email. (just wanted to put that out there as something I'd like to help with.)

[2015-08-14 15:57] rhoegg commented on #7
I'd like to help with this too.  Once we finish getting Xero set up, I
believe it has support for receipt generation.

On Fri, Aug 14, 2015 at 10:19 AM, Amanda Harlin <notifications@github.com>
wrote:

[2015-08-14 16:06] amandaharlin commented on #7
Are you missing any information for the Xero set up? If so we could
chat/call today and get that taken care of. It seems like a good tool and
you've been real keen to contribute this help! :sparkles:

On Fri, Aug 14, 2015 at 10:57 AM, Ryan Hoegg <notifications@github.com>
wrote:

[2015-08-14 18:14] jagthedrummer commented on #7
I'm happy to help with the email adjustments. It's just a simple text file, so there's not a lot that can go wrong.

https://github.com/techlahoma/techlahoma_donations/blob/master/app/views/donation_mailer/thank_you_email.text.erb

[2015-08-14 18:14] jagthedrummer commented on #7
(And it is in dire need of a rewrite.)

[2015-08-14 18:30] amandaharlin commented on #7
Dude, awesome! In that case I'll just put up a tiny PR and we can review it!

On Fri, Aug 14, 2015 at 1:14 PM, Jeremy Green <notifications@github.com>
wrote:

[2015-08-14 18:30] amandaharlin commented on #7
:clap: :clap: :clap: :clap: :clap: yessss!

[2015-08-14 18:31] the-simian commented on #7
:clap: agree!

[2015-08-14 18:32] rhoegg commented on #7
Yep, we need the BOK login information added so that the bank account is
linked.  I haven't checked if Vance added the CC yet either.

On Fri, Aug 14, 2015 at 11:06 AM, Amanda Harlin <notifications@github.com>
wrote:

[2015-08-14 19:02] amandaharlin commented on #7
Awesome, Ryan we can get you that. Jesse called up BOK last week to confirm
log in info, so we've got that and the CC #! Did you want to make the Xero
account since you've already got a subscription? If so, I'll send you
lastpass logins.

On Fri, Aug 14, 2015 at 1:32 PM, Ryan Hoegg <notifications@github.com>
wrote:

[2015-08-15 04:32] rhoegg commented on #7
Looks like Xero is actually all set.  I'll take a swipe at making a
donation receipt there, and we'll need to sort out how the online donation
and Xero connect in a separate issue.  Sorry for the hijack!

On Fri, Aug 14, 2015 at 2:02 PM, Amanda Harlin <notifications@github.com>
wrote:

[2015-08-15 15:16] jagthedrummer commented on #7
Is sending the receipt from Xero somehow preferable to sending it directly from the donations app? (Just curious, as it seems like it's just adding more moving parts with more opportunity for something to go wrong and someone to not get their receipt.)

[2015-08-15 15:19] rhoegg commented on #7
Well it allows us to send receipts for donations we get other ways (check,
in kind)

On Sat, Aug 15, 2015, 10:16 AM Jeremy Green <notifications@github.com>
wrote:

[2015-08-15 23:54] jagthedrummer commented on #7
Ah-ha!

[2015-08-16 00:21] amandaharlin commented on #7
If we do set up Xero to send out the tax receipt this repo could still send out the 'thank you' email. What do y'all think, is that ok with everyone? (The class we took said both were good to do.)

[2015-10-12 02:22] amandaharlin opened #8 "Server's certificate has expired"
we purchased a new cert last month since the older one expired

[2015-10-12 03:09] jagthedrummer commented on #8
If someone can let me know where to get that (or get me the new cert and key) I can get them installed.

[2015-10-12 03:21] amandaharlin commented on #8
Thank you! Sending you the lastpass login!

On Sun, Oct 11, 2015 at 10:09 PM, Jeremy Green <notifications@github.com>
wrote:

[2015-10-12 03:29] jagthedrummer commented on #8
Can you hit me at my octolabs.com address, please? (jeremy@...) Thanks!

[2015-10-12 03:36] amandaharlin commented on #8
(Thanks for specifying! Good to know preferred email :thumbsup:) Just
unshared and reshared, maybe it'll hit your email now?

On Sun, Oct 11, 2015 at 10:29 PM, Jeremy Green <notifications@github.com>
wrote:

[2015-10-12 03:54] amandaharlin commented on #8
Thank yoouuuu!

[2015-10-12 03:57] jagthedrummer commented on #8
Ok, got the cert, but heroku isn't wanting to take the update. I've opened a support ticket with them.

[2015-10-12 04:08] datachomp commented on #8
I already updated it.   Is heroku confused by trying to update a cert with the same cert?

[2015-10-12 04:32] #8 closed

[2015-10-12 04:56] the-simian commented on #8
YES! glad this got knocked out!

[2015-12-16 21:02] #2 closed

[2015-12-16 21:02] #3 closed

[2015-12-30 00:34] groovecoder opened #9 "Increase max donation"
I got a windfall gain that I want to donate to Techlahoma. I can't do it via https://donate.techlahoma.org/ because the donation amount caps at $500.

[2015-12-30 00:34] groovecoder opened #10 "Accept notes with donations"
I'd like to donate to the "Tulsa" operations area of Techlahoma. But https://donate.techlahoma.org/ has no way to tag/annotate/ear-mark my donation for Tulsa.

[2015-12-30 01:06] datachomp commented on #10
Earlier this year, the TH board voted to not accept ear-marked donations.  Perhaps it might be time to revisit that.

[2015-12-30 01:07] datachomp commented on #9
cc @jagthedrummer

[2015-12-30 01:19] groovecoder commented on #10
Most of the institutional supporters I'm contacting like Tulsa Chamber, Tulsa Community Foundation, and Tulsa Rotary have said they want to make sure their donations go specifically to support Tulsa activities/events/operations. Other entities (OCAST, recruiters, etc.) like the idea of supporting the state-wide stuff.

[2015-12-30 03:32] datachomp commented on #10
I think enough real-world scenarios have arisen since the initial discussion to bring it up again.

I think it would be a good idea to get many of these new scenarios in a gist and PR for the board meeting.   cc @DevinClark

[2015-12-30 03:47] DevinClark commented on #10
:+1:

[2015-12-30 05:49] jagthedrummer commented on #9
I just upped the max donation to $5k. Let me know if that's not enough. :smile: :heart:

[2015-12-30 05:49] #9 closed

[2015-12-30 22:40] the-simian commented on #9
Thank you!

[2016-02-15 16:34] energydev opened #11 "Make anonymous a checkbox"
I expect we'll need a donor's name for tax receipt purposes. Thus, provide an Anonymous checkbox (or something similar) for donor's who don't want their name publicized as a donor.

[2016-02-15 16:35] energydev opened #12 "Add gifts selection to memberships"
For each level of membership allow the user to select which gifts they want and their appropriate size. For example, if the highest level gets a hoodie and/or yeti cup then provide an option to select which one they want and for the hoodie what size they want.

[2016-02-15 16:36] energydev opened #13 "Obtain shipping address when donor opts to receive donation gifts"
If a donor elects to receive the donation gifts then provide a place for the donor to provide their Shipping Address.

[2016-02-15 21:42] energydev opened #14 "Allow type in donation amount"
Allow the user to type in the donation amount.

[2016-02-15 21:45] energydev opened #15 "Provide info on mailing a check donation"
I recommend providing a printable form that someone can use to mail in a donation check. For donations that reach a certain level, the 3%-ish fee can be noticeable and the donor may want to actually be able to mail in a check with their donation so that this handling fee isn't paid to Stripe. In case you're wondering if this is a realistic scenario, I actually wrote a check donation to another org

[2016-02-17 03:53] jagthedrummer opened #16 "Matching donation information"
Many people work at companies that will match donations to non-profits. We need to call this out explicitly on the site (and in our 'literature') and provide at least a contact person and our FEIN.

[2016-02-17 05:47] jagthedrummer commented on #7
@amandaharlin @rhoegg Has there been any resolution on this? I think the site is still sending a receipt. Are we also sending one through another channel? If not we should probably just rewrite the one in the app.

[2016-02-22 16:33] groovecoder opened #17 "Explain if program/area sponsorship is tax-deductible"
First feedback on [the new donations page](http://donate.staging.techlahoma.org/) was, "Are the program & area sponsorships tax deductible?"

[2016-02-22 19:50] jagthedrummer opened #18 "Re individual ear-marked donations"
From @groovecoder via Slack:

So something like a link on the donation page that says “Can I donate to a specific area or program?” With a page that says, “We’re only accepting unrestricted donations to keep our accounting simple. If you’d like to donate to a specific area or program, please [contact/email us|file a GitHub issue|etc.]."

[2016-02-23 04:21] jagthedrummer commented on #17
@groovecoder Can you help find the answer to this question and write the language you'd like to see on the site? I'm not entirely clear on the answer to this. I kinda think that the answer is "it depends". If they just get some recognition my understanding is that it IS tax-deductible, but that if they get anything else it may only be partially deductible, if at all.

[2016-02-23 05:46] jagthedrummer commented on #13
Capturing a mailing address is now on staging : http://donate.staging.techlahoma.org/subscriptions/new?plan_id=founding-member-annual

[2016-02-23 13:51] groovecoder commented on #17
The answer is indeed "it depends" according to [this article Mike posted in Slack](http://charitylawyerblog.com/2011/05/20/corporate-sponsorship-or-taxable-advertising/).

So the determining factor seems to be: if we recognize the *sponsor* - it's a safe harbor donation; if we recognize the *sponsor's trade or business or any o fits services, facilities, or products* - it's taxable advertising.

E

[2016-02-23 14:34] groovecoder commented on #17
Is the new staging site running master, or a different branch?

[2016-02-23 15:23] vlucas commented on #13
Excellent work, @jagthedrummer !

[2016-02-23 15:34] jagthedrummer commented on #17
@groovecoder Staging is running on the `jeremy/new-subscriptions` branch.

[2016-02-24 00:44] jagthedrummer commented on #7
We need to include instructions about ordering additional items and something saying that you can just rely to the email with questions.

[2016-02-25 20:58] jagthedrummer opened #20 "Swag details"
We need to add details about the swag to the site.

[2016-02-25 20:59] jagthedrummer commented on #20
T-Shirts:
(from Slack)
got the colors picked out:  Blue, Purple, Green, Red (edited)

they are the Tri-Indigo, Tri-Orchid, Tri-Evergreen, and Tri-Cranberry colors from American Apparel, but Blue, Purple, Green, and Red seems more straight forward for the site

[2016-02-25 21:27] jagthedrummer commented on #20
https://docs.google.com/document/d/16v1IW9czsy5KOPA0h73Gnc7DuQFpfdzo2s4D8v-9i1I/edit

[2016-02-26 14:44] jagthedrummer commented on #7
@amandaharlin @rhoegg Pinging on again on this.

Already in this thread there are 2 issues:

1) What should the receipt say?
2) Where should it be sent from?

And if the answer to the second question is "somewhere other than from the donations site", then we also have the question of:

3) How do we get info from the donations site to wherever/whatever/whoever will be sending the receipt?

[2016-02-26 15:05] rhoegg commented on #7
Looking back at the comments, I might have overcomplicated this :)  Let's send an immediate receipt from the donations site. We should also make sure other forms of payment receive one quickly, but through plain email or postal mail.

If we decide to do some annual thank you letters, those should be the same for all donors, regardless of the method of payment. But, those should be done in a separa

[2016-02-27 20:40] jagthedrummer commented on #11
This is on staging

[2016-03-01 03:00] jagthedrummer commented on #7
I took a stab at rewriting this. You can check it out on staging: http://donate.staging.techlahoma.org/

[2016-03-01 03:00] jagthedrummer commented on #14
This is on staging: http://donate.staging.techlahoma.org/donations/new

[2016-03-01 03:07] jagthedrummer commented on #10
This is in staging.

[2016-03-01 03:23] jagthedrummer commented on #16
We need to figure out what needs to happen on our side to enable matching gifts. This may (or may not) be a good place to start: https://doublethedonation.com/matching-grant-resources/matching-gift-information/

[2016-03-01 03:25] jagthedrummer commented on #15
I think there are two parts to this:

1) We need to provide info to users on what to do. This will involve creating a printable form, and writing up some directions on where to send it, etc...

2) We need internal processes to document what happens when someone mails in a check + membership form. We also need someone who will assume the responsibility of actually doing it.

[2016-03-01 22:15] groovecoder opened #22 "Early Adopter membership needs to show t-shirt AND polo AND choice of hoodie or mug"
[The membership slide](https://docs.google.com/presentation/d/1HxsfjWTCJjBYAhWz3flG3Bd5ChbtOT6GQZaItTG37E8/edit#slide=id.g11964ec562_0_4) says:
Founding Early Adopter - $1,024 / year
Techlahoma Founding Member T-shirt AND Polo, choice of Hoodie or Yeti Mug
Stratified Website Recognition

[The staging website](http://donate.staging.techlahoma.org/membership) says:
Founding Early Adopter
$1024 / yea

[2016-03-01 22:24] jagthedrummer commented on #22
@groovecoder it's like you read my mind. I was working on this AS you filed this issue. :ghost:

[2016-03-01 22:24] jagthedrummer commented on #22
This is fixed on staging.

[2016-03-04 22:04] jagthedrummer opened #24 "Update thank you page and receipt"
Remove wording saying that this is a tax receipt. And add :

"This gift is fully tax deductible and no goods or services were provided to the donor except for a <donor gift> valued at approximately $<XX.XX>.   Exact deductible value of your gift will be provided in your year end receipt."

[2016-03-04 22:09] energydev opened #25 "Change "smaller amount" link text"
Change "Interested in donating a smaller amount?" to "Interested in non-membership donations?"

[2016-03-04 22:10] energydev opened #26 "Change initial values for Yeti cup and polo"
Change Yeti cup initially expected value to $60 and the polos to $40.

[2016-03-04 22:12] energydev opened #27 "Change Donations Lander Header Text"
"Join in 2016 to be forever recognized as a Founding Member or Sponsor." is the current text. Add somewhere to the page the text "For those interested in receiving donor gifts from the first batch, please, donate by April 30, 2016."

[2016-03-04 22:14] energydev commented on #24
Slightly modified recommended wording.

"This gift is fully tax deductible and no goods or services were provided to the donor except for a valued at approximately $. Exact value of your gift will be provided in your year end receipt."

[2016-03-04 22:16] energydev opened #28 "Employer match button not go anywhere"
The "Learn more about employer matching" button on the confirmation page doesn't appear to do anything. Recommend removing until have the corresponding information.

[2016-03-04 22:58] jagthedrummer commented on #25
:+1: Will get this tonight.

[2016-03-04 22:59] jagthedrummer commented on #26
:+1:

[2016-03-04 23:00] jagthedrummer commented on #27
@energydev What do you think about adding this towards the end of the page instead of in the header?

[2016-03-04 23:00] jagthedrummer commented on #28
:+1:

[2016-03-04 23:21] energydev commented on #27
@jagthedrummer I'm good with you placing the below text anywhere you find most appropriate on the lander page. "For those interested in receiving donor gifts from the first batch, please, donate by April 30, 2016."

[2016-03-10 19:50] jagthedrummer opened #30 "Make placeholder text on donation form lighter grey"
It's hard to tell what's real form text, and what's placeholder.

[2016-03-10 19:50] jagthedrummer opened #31 "Add error notice near the submit button"
If a validation error occurs at the top of the form, you can't tell why the form didn't submit if that input has scrolled off the page.

[2016-03-15 22:58] jagthedrummer opened #32 "Update donations recognition page to show membership levels"

[2016-03-15 22:58] #7 closed

[2016-03-15 22:58] #10 closed

[2016-03-15 22:58] #11 closed

[2016-03-15 22:58] #12 closed

[2016-03-15 22:58] #13 closed

[2016-03-15 22:58] #14 closed

[2016-03-15 22:58] #20 closed

[2016-03-15 22:58] #22 closed

[2016-03-15 22:58] #24 closed

[2016-03-15 22:58] #25 closed

[2016-03-15 22:58] #26 closed

[2016-03-15 22:58] #27 closed

[2016-03-15 22:58] #28 closed

[2016-03-15 23:03] #30 closed

[2016-03-15 23:13] #31 closed

[2016-03-15 23:42] jagthedrummer opened #33 "Add swag stacking for all membership levels"

[2016-03-16 03:10] jagthedrummer commented on #33
Actually, it's not complete stacking, it's just adding the T-Shirt at all levels.

[2016-03-16 14:19] #32 closed

[2016-03-16 14:19] #33 closed

[2016-03-16 18:49] energydev opened #35 "Update my donation to have name attached"
Please, update my 12/31/2015 donation to have my name attached to it.

[2016-03-16 18:52] energydev opened #36 "True Believers (list each once)"
List each True Believer name a single time in the True Believers list.

[2016-03-16 20:10] jarindykstra opened #37 "Misspelling"
At the bottom fo the donations page there is a line of text that reads "Techlahoma is a 501c3 orgnization".   Should read "organization"

[2016-03-16 22:06] energydev opened #38 "Add Display Name field to be used by Website Recognition"
I've already had one member reach out and say their legal name and known name are different, and they would like to be able to enter a legal name for tax receipt purposes and a known name for display on the website.

[2016-03-16 22:46] energydev opened #39 "Non-website donors display in sponsors/members list"
Provide a way to add sponsors/members to the sponsors/members recognition site, if they pay via check or another format outside the website.

[2016-03-25 05:05] jagthedrummer commented on #35
This is done.

[2016-03-25 05:05] #35 closed

[2016-03-25 05:07] #36 closed

[2016-03-25 05:08] #37 closed

[2016-03-25 05:08] jagthedrummer commented on #37
Thanks, @jarindykstra!

[2016-03-25 05:10] amandaharlin commented on #39
I think the only way we can provide a way to add them to the site is to simply add them. If they're donating via check then we'd be receiving the check ourselves. We could add in a line of text that says 'Donations made via check are accepted. Donor's name will be reflected on the site.' Aside from adding that I think we could probably close this particular issue.

[2016-03-25 06:24] amandaharlin commented on #15
started on the membership selection donation pdf form:

[MembershipSelection.pdf](https://github.com/techlahoma/techlahoma_donations/files/189129/MembershipSelection.pdf)

guess page 2 will be directions on mailing.

i can handle accepting mailed checks and inputting that into our bank. if i can get a log in for our accounting software i can tag it there too or ask vance/ryan/jesse to do so.

[2016-04-06 17:42] ryoe opened #40 "Mandrill add-on is going away on Apr 27, 2016"
The drop-dead date for the **Mandrill Add-on** is nearly upon us. Heroku has provides this handy guide to migrating to a different transactional email provider:  [Migrating from the Mandrill Add-on](https://blog.heroku.com/archives/2016/3/2/migrating_from_the_mandrill_add_on)

----

For reference, here's an email from Heroku about the deadline.

[code]

[2016-04-07 14:30] the-simian commented on #40
Thanks for posting this issue

[2016-04-20 01:52] karneia opened #41 "Typo on Membership Page"
https://donate.techlahoma.org/donations

"True Belivers"  should be "True Believers", eh?

[2016-04-20 02:04] seejessicacode commented on #41
I'd try to submit a PR but I don't Ruby.

[2016-04-22 12:40] piisalie opened #42 "Typo on the Donations Thank You Partial"
`You can print this page as your recepit, and we will also email a recepit` should possibly be `You can print this page as your receipt, and we will also email a receipt`

[2016-04-22 12:48] piisalie opened #44 "p tag shows up in Donation thank you email"
[code]
https://github.com/piisalie/techlahoma_donations/blob/master/app/views/donation_mailer/thank_you_email.text.erb#L44
It looks like it's because we're using a text email view, and not HTML.

[2016-04-25 14:35] jagthedrummer commented on #44
Thanks, @piisalie!

[2016-04-25 14:35] #44 closed

[2016-04-25 14:35] #42 closed

[2016-04-25 14:36] #41 closed

[2016-04-25 14:36] jagthedrummer commented on #41
Thanks, @karneia and @seejessicacode. I'm deploying this fix now.

[2016-04-25 17:10] ryoe commented on #40
Bump.

[2016-04-25 18:31] jagthedrummer commented on #40
I'm planning to look at this tonight.

[2016-04-26 01:10] jagthedrummer commented on #40
Postmark is now working and Mandrill has been removed.

[2016-04-26 01:10] #40 closed

[2016-04-26 15:07] ryoe commented on #40
Woot! You're the best @jagthedrummer!

[2016-05-22 20:57] seejessicacode commented on #17
Was this addressed in PR #29? If so, is there anything else we need to do before closing this issue?

[2016-05-22 21:10] seejessicacode commented on #16
Has there be any discussion outside this thread on the matter? I see that the website highlights this option but I also see that contact person or FEIN is listed with this info.
PR #29 dd425cff25a5d4418bc7b647a4905ec13168b375

[2016-05-22 21:17] seejessicacode commented on #15
I'm not seeing this pdf available to view or download on donate.techlahoma.org. What's the status on this?

[2016-05-23 21:49] groovecoder commented on #17
Wasn't address ... i.e., the donate site doesn't say whether program/area sponsorships are tax-deductible. Though it's probably not high priority, as we don't have anyone asking us right now. And we may never have enough people ask us that we need to put it front-and-center on the site.

[2016-05-25 02:49] jagthedrummer commented on #15
I think I was waiting for a final version of the PDF that has directions on where to mail it.

[2016-05-25 02:51] jagthedrummer commented on #16
There has not been additional discussion that I'm aware of. I'm guessing we can do better than "ask your company" and actually provide people what they need up front.

[2016-05-25 13:42] jagthedrummer commented on #39
There is now an admin interface that allows admins to add in new donations from people who paid by check. I believe @amandaharlin and @vlucas both have access to that. I don't know if those donations have been recorded in the site or not.

[2016-05-25 13:44] jagthedrummer commented on #38
For simplicity of the user facing form I'm inclined to close this issue and just ask people to reach out to us if they need a different name to appear on their receipt. (I don't _think_ the IRS is actually that big of a stickler on this.)

[2016-06-03 21:55] the-simian commented on #38
That's reasonable for now. I would be surprised if there were an overwhelming number of these, but yeah - just have folks contact us, and we'll resolve whatever needs resolving

[2016-06-03 21:55] #38 closed

[2016-06-08 14:35] energydev opened #48 "For t-shirt sizes (remove Women's 2XL size)"
Women's 2XL size is not available in American Apparel ladies cut

[2016-06-08 14:37] energydev opened #49 "Limit t-shirt colors"
In order to simplify t-shirt ordering and delivery, let's remove red, purple, and green from the t-shirt color options. Those who already selected these colors will still get them.

[2016-06-08 14:39] energydev opened #50 "Hoodies - remove coffee brown option"
As we cannot get the coffee brown option in 2XL, let's remove that color option from the hoodies.

[2016-06-09 21:05] #49 closed

[2016-06-09 21:05] #50 closed

[2016-06-09 21:05] #48 closed

[2016-06-30 01:31] the-simian commented on #16
i saw that GE was one of the companies. I poked around and tried to find like a search, and couldnt find it.

I did also see that this is a 'pay-for' service also https://doublethedonation.com/pricing/ and I think the nonprofit is the one that pays.

[2016-08-02 22:28] energydev opened #52 "Additional t-shirt info on site."
Where the users are selecting their t-shirts, add the following "For American Apparel t-shirts, the unisex shirts are typically longer. In addition, for ladies' sizes may want to order 1 size up."

[2016-08-02 23:07] energydev commented on #52
Might have two link texts of "Unisex sizing" and "Ladies' cut sizing"

[2016-09-12 08:07] amandaharlin opened #54 "renew ssl cert"
paid for a new cert. here's dnsimples' email to info@techlahoma.org:

[2017-02-20 23:18] energydev opened #55 "Donation Receipts (501 c 3 text)"
Add the below text to the automated Donation Receipts.

The Techlahoma Foundation, otherwise known as Techlahoma, is a federally
recognized 501 (c) (3) registered non-profit organization; Federal ID Number
46-5519987.

[2017-02-20 23:18] energydev opened #56 "Donation Receipts (add donation date)"
Add donation date to the donation receipts automated e-mail.

[2017-02-21 17:25] #55 closed

[2017-02-21 17:33] #56 closed

[2017-02-21 18:16] jagthedrummer commented on #54
@amandaharlin Sorry for the confusion on this. We've moved this site to use a Let's Encrypt cert, so we don't need the DNSimple cert anymore. We can just let it expire. (Or maybe we can get them to credit us for it if we never re-issued?)

[2017-02-21 18:23] #54 closed

[2017-02-21 18:25] jagthedrummer commented on #52
This may or may not apply depending on what the membership campaign looks like for 2017. I'm just going to leave this open for now, until we know if it's still applicable or not.

[2017-02-21 18:26] jagthedrummer commented on #39
@energydev @amandaharlin @vlucas Does anyone know if there people who donated/sponsored/joined outside of the donations site that still need to be credited on it?

[2017-02-21 18:29] jagthedrummer commented on #18
@groovecoder Sorry for letting this linger so long. Is this still something you'd like to see us do? If so, what's the appropriate communication avenue to recommend to people?

[2017-02-21 18:33] jagthedrummer commented on #17
@groovecoder It sounds like there isn't anything we need to do on this anymore, so I'm going to go ahead and close it. Feel free to re-open it if there's something you'd like to see added.

[2017-02-21 18:33] #17 closed

[2017-02-21 22:20] the-simian commented on #18
We can talk about this at the meeting tonight, too. We'll  be going over some xero stuff, and this seems like a good thing to discuss

[2017-02-21 22:22] the-simian commented on #55
also we've included  the necessary legal text in the tax-writeoff reciepts as well

[2017-03-07 19:47] rhoegg opened #57 "Have a QA site"

[2017-03-07 22:05] jagthedrummer commented on #57
@rhoegg I'm guessing that you have something in mind that's different from our current staging site? https://techlahoma-donations-staging.herokuapp.com/

[2017-03-07 22:23] rhoegg commented on #57
Maybe not, let me look at it and see if there's any value I can add

[2017-03-08 00:08] jagthedrummer commented on #57
The CI/auto-deployment stuff that you mentioned in Slack earlier would be awesome.

[2017-03-08 00:57] rhoegg commented on #57
Yeah makes sense. Can you send me what you do now to deploy staging and production, and how you make sure things are cool afterward?

[2017-03-09 16:24] jagthedrummer commented on #57
@rhoegg It's currently a manual push to heroku for either. I have the staging site setup as a git remote called `staging` and the production site set up as a git remote called `production`.

To test a branch on the staging site I do something like:

[code]

When I'm happy with it, I merge that branch to master, and then push master to production.

[code]

On both sites to make sure things are cool

[2017-03-09 16:30] rhoegg commented on #57
Right, I think I need access to the same heroku account you're using,
right? Where do you set up the DNS?

On Thu, Mar 9, 2017, 8:24 AM Jeremy Green <notifications@github.com> wrote:

[2017-03-09 16:52] energydev opened #58 "2017 Campaign Goal and Progress Tracker"
List 2017 campaign goal on the donations site along with a progress tracker.

[2017-03-13 23:06] jagthedrummer opened #59 "Test and fix edge cases for various types of card failures"
For both one-time donations and subscriptions we need to run tests with all of the failure mode test card numbers that Stripe provides and make sure that we're handling things appropriately.

https://stripe.com/docs/testing

[2017-03-13 23:12] jagthedrummer opened #60 "Determine what the minimum donation amount is and add validations"
It probably doesn't make good sense to allow people to donate $1 since fully 1/3rd of that will be eaten by Stripe fees. We need to determine what a reasonable minimum donation level is and add validations that prevent someone from getting through "checkout" with less.

[2017-03-14 00:16] groovecoder commented on #59
Looks like the bad ones are caught and the good ones succeed. The error page might try to provide a little more helpful error message? Can we show the Stripe failure message there?

### 4000000000000010
The address_line1_check and address_zip_check verifications fail. If your account is blocking payments that fail ZIP code validation, the charge is declined.

Donation was successfully created. Tha

[2017-03-14 01:31] groovecoder commented on #60
Wait, we're not adding stripe fees to the charge? We absolutely do this for codesy where we expect lots of amounts to be in the ~$5 range. I.e., if you add $1 to a bug, we charge $1.32

So, a $32 donation would be 32 + .29 + .025*32 = 33.09.
$64 = $65.89
$128 = $131.49
etc.

[2017-03-14 20:58] jagthedrummer commented on #60
No, we don't tack on the Stripe fees on top of what people indicate they want to contribute. If you tell us you want to give us $32 we take the $32 and the fact that we have to pay a fee is our problem. I'm not entirely against changing that, but it's pretty non-standard and not generally what people expect.

[2017-03-14 20:59] jagthedrummer commented on #59
Wow! Thanks for running all these tests, @groovecoder! Much appreciated. I'm working on better error handling today.

[2017-03-14 21:56] jagthedrummer commented on #59
Ok, @groovecoder, I just deployed changes to the staging site to handle errors better. We're rescuing `Stripe::CardError`, which is the super-class for all of the errors that you saw above. I don't think we need to re-test all of the problem card numbers, but if you could verify that at least one of them now works that would be great.

[2017-03-14 22:02] groovecoder commented on #59
4000000000000341 now shows "
1 error prohibited this donation from being saved:

    Credit card: Your card was declined."

Looks good to me. :shipit:

[2017-03-15 15:33] energydev opened #61 "Opt-out of year end gifts"
Provide a check box that defaults to On that is recording that the donor/member does indeed want a year end gift. Wording could be "Yes, please, provide me with a year end gift."

[2017-03-15 15:35] energydev commented on #60
For charitable donations via debit or credit card I've seen, the amount donated, "X dollars" was always the amount charged.  For profit purchases are the ones where it is sometimes standard to add on the credit card processing fees.

[2017-03-15 15:39] energydev commented on #60
I recommend, for single donations, a minimum $32 donation for memberships. If the "other" option is selected, we could put wording "Min $32". Given that memberships may receive discounts from places like 36 Degrees and that we're planning to provide year end gifts, $32 seems like a reasonable minimum.

[2017-03-15 22:27] groovecoder commented on #60
We need @dustincurzon to tell us what the minimum 1-time donation amount should be to qualify for a 36°N discount. Last year it was $128/year minimum to receive $50/mo. discount. I.e., spending $128 to save up to $600.

[2017-03-15 22:32] dustincurzon commented on #60
I like the $128 minimum - not really for 36N's sake but I'm all for incentivizing people to give more to Techlahoma.

On Wed, Mar 15, 2017 at 5:27 PM -0500, "luke crouch" <notifications@github.com> wrote:

We need @dustincurzon to tell us what the minimum 1-time donation amount should be to qualify for a 36°N discount. Last year it was $128/year minimum to receive $50/mo. discount. I.e., spending

[2017-03-16 01:17] jagthedrummer commented on #60
@groovecoder @dustincurzon I've heard from _numerous_ people that it's too high of a minimum and that it prevents them from joining as a member all together. So I think we need some lower options. $64 at the very least, if not $32.

That doesn't necessarily mean that 36°N needs to offer the discount at those levels. I don't see a problem with saying "Techlahoma members who donate $XXX or more qual

[2017-03-16 01:19] jagthedrummer commented on #60
In fact, after thinking about it, I'm inclined to make $16 the minimum, just to potentially open up to a wider audience.

[2017-03-16 01:26] dustincurzon commented on #60
@jagthedrummer I agree on the lower minimum for donations. Anyone who wants to give money, let's take it. Keeping perks like 36°N membership at higher levels incentives the upsell.

[2017-03-16 13:13] groovecoder commented on #60
Yeah, sorry I meant just to reserve the 36°N discount for higher level donations.

[2017-03-16 15:50] energydev commented on #60
I like the idea of a $16 single donation minimum, with the 36°N discount reserved for higher level donations. What about the minimum for monthly donations? Maybe $8/month minimum? That's $96/year. It's about $90/year after the stripe fees are considered.

[2017-03-16 15:54] energydev commented on #60
If there is agreement from 36°N on a discount for $128 donations and above, I'd encourage us to add that wording to the website before we go live with the membership campaign site. Also, would we be good with $16/month also getting the discount. That's $192 over 12 months or $144 over 9 months. The next lowest per month is $8/month, which is $96 across 12 months.

[2017-03-16 18:06] dustincurzon commented on #60
I agree with the $16/month level for 36N

[2017-03-16 23:01] groovecoder commented on #60
$16/mo. to *save* $50/mo. - what a deal!! Since we've got an SS46/36°N exchange program going on, we should make sure SS46 is okay with those levels too?

[2017-03-17 19:23] jagthedrummer commented on #59
Thanks for the assist on this @groovecoder! I'm closing this one out.

[2017-03-17 19:23] #59 closed

[2017-03-17 19:29] jagthedrummer commented on #60
@groovecoder @dustincurzon thanks for the conversation on this. We should definitely verify with SS46 if there's an expectation that both spaces will do the same thing. Last night I was chatting with @DevinClark and he brought up a good point. Last year when we were setting up the drive, Mike Slack, our fundraising consultant, said that we can't directly offer discounts as part of the benefits for

[2017-03-17 19:40] jagthedrummer commented on #61
@energydev Do you think we should allow people to opt-out before they (or even we) know what the gift is? I was imagining that near the end of the year we'd send folks an email saying "Hey, for your generous contribution we'd like to send you ______. In order to get your gift, please click the link below and let us know what address to send it to. You have until #{cut_off_date} to claim your gift.

[2017-03-17 20:05] jagthedrummer commented on #60
Ok, I just pushed this commit https://github.com/techlahoma/techlahoma_donations/commit/35fd39ea845be0bc581eeb7ffe374d035e79dfe4, which:
* adds an $8/moth recurring level
* adds $16 to the recommended donation levels
* validates that the donation level select has been set to something other than the prompt (on the one-off form)
* validates that if someone chooses 'Other' in the one-off donation fo

[2017-03-17 20:22] jagthedrummer commented on #57
@rhoegg So sorry for the delay. I somehow missed this when you last responded. If you'll DM me your heroku email address I'll invite you to both apps. I wanna say it's DNSimple where we have the DNS setup. I think @seejessicacode may be able to help us with that.

[2017-03-17 20:35] seejessicacode commented on #57
donate.techlahoma.org points to donate.techlahoma.org.herokudns.com

[2017-03-17 21:02] jagthedrummer commented on #57
@seejessicacode where do we manage those records?

[2017-03-17 21:16] seejessicacode commented on #57
DNSimple.com, I've just shared management permissions with your Techlahoma gmail.

[2017-03-17 21:39] energydev commented on #60
Yes, we definitely need to get clarity on the discounts, especially since those not using the discounts wouldn't want that to impact their tax deductions.

[2017-03-17 21:41] energydev commented on #61
@jagthedrummer allowing an opt-in at the end of year works as well. We will definitely need a way to track their donations in combination with any gifts they receive so that tax receipts can be more easily generated.

[2017-03-17 21:46] energydev opened #62 "Thank you page wording"
We may want to confirm with someone that the below wording is legit to use on the thank you page. I'm not sure the e-mail we send is the full set of paperwork needing for taxes. The end of year receipts which mention goods and services provided may be what is really needed.

"Your contribution to Techlahoma is tax-deductible. After you donate we'll send you the paperwork to file with your taxes."

[2017-03-17 22:32] the-simian commented on #62
The stuff in the email was provided by the CPA specifically for end of year receipts. We can ask about POS verbage too.

[2017-03-18 17:41] jagthedrummer commented on #61
Yep, that's for sure.

[2017-03-18 19:44] jagthedrummer commented on #57
@rhoegg, this looks interesting : https://devcenter.heroku.com/articles/heroku-ci

[2017-06-06 19:41] jagthedrummer commented on #62
This was changed to indicate that tax receipts are sent at the end of the year.

[2017-06-06 19:41] #62 closed

[2017-06-11 20:47] blazedd opened #65 "[Feature Request] Share buttons on Subscription/Donation"
After a donor has subscribed or provided a single donation we should seriously consider giving them a one button press to share their contribution: [Twitter](https://dev.twitter.com/web/tweet-button)/[Facebook](https://developers.facebook.com/docs/sharing/reference/share-dialog)/[LinkedIn](https://developer.linkedin.com/docs/share-on-linkedin).

We'd want to share the donate website's main page, r

[2017-08-17 16:31] kacollins opened #66 "Outdated recognition dates for sponsors"
These links show that sponsors will be recognized at meetups "from May 2016 - April 2017":
https://donate.techlahoma.org/sponsorship
https://donate.techlahoma.org/donations/new?plan_id=bootstrap-funder
https://donate.techlahoma.org/donations/new?plan_id=angel-investor

[2017-11-21 20:32] jagthedrummer opened #68 "Monthly donors not shown in admin area"
We _should_ be receiving a Stripe webhook every time that a subscription is paid. And when we get that webhook we _should_ be creating a donation record that would show up in the admin. Apparently one or the other (or both) of those things are not happening currently.

[2017-11-29 14:26] wassimk opened #69 "Load unsafe script warning in Chrome"
I can reproduce this by visiting the [donation page](https://donate.techlahoma.org/) in _Chrome 62.0.3202.94 (Official Build) (64-bit)_.

![2017-11-29_08-22-41](https://user-images.githubusercontent.com/2261839/33379855-d7e82f46-d4de-11e7-8690-1208f376ccd4.png)

[2017-11-29 15:04] DevinClark commented on #69
Looks like it is either a google font or the newrelic js agent. Should be pretty easy to fix.

[2017-11-29 15:37] #69 closed

[2017-11-29 15:40] jagthedrummer commented on #69
Thanks for the report @wassimk, and the assist @DevinClark. Should be all good now.

[2017-12-30 18:28] kendallcorner opened #70 "Add option to donate any amount of money"
Keep the powers of 2 choices, but add an 'other' box where someone can type anything. Especially for the monthly donations.

[2017-12-30 18:32] kendallcorner commented on #70
Nope I'm an idiot. It's there. Don't know why I didn't see it.

[2017-12-30 18:32] #70 closed

[2018-02-05 15:50] vlucas opened #74 "2017 Tax Receipts"
We need to send all the end of year tax receipts. I will work on the wording and update this issue accordingly.

[2018-02-05 16:53] vlucas commented on #74
Text from last year (2016 tax year):

[code]

[2018-02-05 17:15] vlucas commented on #74
Wording in the PDF document:

[2018-02-06 21:36] jagthedrummer commented on #74
@vlucas Do you want to make changes to any of this wording?

[2018-02-06 21:40] jagthedrummer commented on #74
I think we'll need to make at least a few changes. The email body portion seems to have been written specifically for you. We also should update the numbers on groups and classes taught and what not.

[2018-02-07 15:31] vlucas commented on #74
For 2017, we can add a paragraph above the tax receipt email:

[2018-06-02 04:02] kendallcorner opened #75 "Add description to subscription customers"
Can we add a description to  the subscription customer creation in subscription.rb, possibly such as:

`customer = Stripe::Customer.create(`
`:source_ => self.token_id,`
`:plan => self.stripe_plan_id,`
`:email => self.email,`
**`:description => "Web subscription for " + self.email`**
` )`

[2018-06-02 16:56] #75 closed

[2018-10-02 23:40] vlucas commented on #74
We sent these out. Closing this :)

[2018-10-02 23:40] #74 closed

[2018-10-02 23:43] vlucas opened #77 "Update plans in Database to not include a gift for 2018"
@jagthedrummer can you please update all the plans in 2018 to NOT include a gift? We have the Techlahoma store now that fills that role :)

[2018-10-03 20:25] kacollins opened #78 "Remove wording about gifts"
Remove "Surprise members-only end of year gift" and any other references to gifts.

[2018-10-04 21:51] vlucas commented on #78
Also requested in #77

[2018-10-09 22:50] jagthedrummer commented on #78
@kacollins & @vlucas PR #79 should do it. I'm going to go ahead and merge it and deploy it. Let me know if you spot anything else.

[2018-10-09 22:52] #77 closed

[2018-10-09 22:52] #78 closed

[2018-11-23 23:03] kacollins opened #80 "Instructions on how to update subscription"
Add a page that tells donors how they can update their subscriptions for failed payments, credit card expiration, or amount changes. Until we have the functionality to update, the instructions will be to cancel and re-create the subscription.

The link to cancel is emailed to the donor each month from `donate@techlahoma.org` with the subject line `Thanks for your monthly donation to Techlahoma!`.

[2018-11-28 00:49] #80 closed, assigned to nobody

[2021-01-23 15:36] kacollins commented on #66
These dates were updated at one point, but are still very outdated (currently "from May 2017 - April 2018"). How about changing it to something more like "within 12 months of donation"?